<% @posts.each do |post| %>
  <section class='peep'>
    <h3><%= post.user %> @<%= post.username %></h3>
    <p><%= post.body %></p>
    <footer>
      <p>Posted at <%= post.time %></p>
      <form action='/reply' method='post'>
        <button>Reply</button>
      </form>
    </footer>
  </section>
<% end %>