<!DOCTYPE HTML>
<html>
  <head>
    <title>Chitter</title>
    <link href="/stylesheets/app.css" rel="stylesheet" type="text/css">
  </head>
  <header>
    <%= partial :"partials/header" %>
  </header>
  <body>
    <section id='message'>
      <% if flash[:just_logged_out] %>
        <%= flash[:just_logged_out] %>
      <% end %>
    </section>
    <%= yield %>
  </body>
</html>