<!DOCTYPE HTML>
  <html>
  <head>
    <title>Chitter</title>
    <link href="/stylesheets/app.css" rel="stylesheet" type="text/css">
  </head>
  <header>
    <h1><a href='/'>Chitter!</a></hi>
    <h3>We love to chat Chit!</h3>
    <% if current_user %>
      Welcome to Chitter <%= current_user.name %>
      <nav>
        <ul>
          <li>
            <a href='/add_post'>New Peep</a>
          </li>
        </ul>
      </nav>
      <form method='post' action='/sign_out'>
        <button>Sign Out</button>
      </form>
      <% else %>
      <nav>
        <ul>
          <li>
            <a href='/users/new'>Sign Up!</a>
          </li>
          <li>
            <a href='/session/new'>Sign In</a>
          </li>
        </ul>
      </nav>
    <% end %>
  </header>
  <body>
    <% if flash[:just_logged_out] %>
      <%= flash[:just_logged_out] %>
    <% end %>
    <%= yield %>
  </body>
</html>