<h2>Sign up for Chitter!</h2>
<form action='/users' method='post'>
  Email: <input type='text' name='email'>
  Password: <input type='password' name='password'>
  Name: <input type='text' name='name'>
  Username: <input type='text' name='username'>
  <button>Sign Me Up!</button>
</form>